/* место для вашего кода */
body{

} 
header{
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 1fr;
    justify-content: space-around;
    width: 1052px;
    height: 105px;
    border: 1px solid rgb(0, 255, 42);
    margin: 92px 2% 96px 2%;
    padding: 0 0 0 0;
    align-items: center;
}
.header__menu{
    width: 391.48px;
    height: 22px;
    font-weight: 400;
    font-size: 18px;
    
}
.header__menu ul li{
    display: inline;
    list-style-type: circle;
}
.header__logo{
    width: 148px;
    height: 105px;
}
.up__section{
    background: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: 400;
    width: 1100px;
    height: 757px;
    margin-bottom: 179px;
}
.up__section p{
    display: inline;
}
.bg_black{
    background-color: #0000008a;
    width: 1100px;
    height: 757px;
}

.main_word{
    font-weight: 700;
    width: 1000px;
    height: 355px;
    font-size: 100px;
    line-height: 115px;
    margin: 0 50px 237px 50px;
    border: 10px solid aqua;
    padding-top: 165px;
}
.left_word{
    padding-top: 165px;
    padding-left: 0;
}
.center_word{
    margin-left: 286px;
}
.right_word{
    padding-bottom: 147px;
    margin-left: 583px;
    margin-right: 0;
}
.second_word{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 77px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
}
.start__word-spacing{
    word-spacing: 17px;
}
.center__word-spacing{
    word-spacing: 19px;
}
.end__word-spacing{
    word-spacing: 18px;
}
.up__section a{
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    background: none;
    color: white;
    border: 1px solid #ffffff;
    width: 256px;
    height: 51px;

}
.lot{
    display: grid;
    grid-template-columns: auto auto auto;
    color: white;
    font-weight: 400;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 146px;
}
.lot_thomas{
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 334px;
    height: 563px;
}
.lot a {
    color: black;
    margin-right: 10%;
}
.lot_jons{
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 334px;
    height: 563px;
}
.lot__header{
    font-weight: 400;
    font-size: 22px;
}
.about{
    display: grid;
    grid-template-columns: 291px 1fr;
    grid-template-rows: 291px 1fr;
    border: 1px dashed #3ee9ff;
}
.about img{
    width: 80%;
    height: 80%;
}
.block_logo {
    align-content: center;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    background-color: black;
    grid-column: 1 / 0;
  grid-row: 1 / 2;
}
.about h2{
    grid-column: 2 / -2;
  grid-row: 1 / -1;
}
.about p{
    grid-column: 2 / -2;
  grid-row: 2 / -1;
}
footer{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 180px;
    justify-content: space-around;
}
.footer_menu{

}
footer a img{
    width: 48px;
    height: 48px;
    margin-right: 48px;
}
