/* место для вашего кода */
.header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 92px 24px 91px 24px;
        max-width: 1052px;
        margin: 0 auto;
    }

.header__nav {
        margin: 0px 0px 0px 0px;
    }

.header__ul {
        display: flex;
        flex-wrap: wrap;
        gap: 31px;
        list-style: circle
    }

.header__item {
        letter-spacing: 0.01em;
        padding-left: 5px;
    }

.link {
        font-size: 18px;
        color: black;
        font-weight: 400;
        text-decoration: underline solid black 0.5px;
        text-underline-offset: 4px;
    }

.link_margin {
        margin: 0px 0px 0px -4px;
    }
    
.activ__link {
        letter-spacing: 0em;
        text-decoration: none;
    }
.list_type__none {
        list-style-type: none;
}
.header__logo {
        margin-right: 150px;
    }
    
.header__logo__img {
        width: 148px;
        height: 105px;
        object-fit: contain;
    }
    
.address {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 135%;
        letter-spacing: 0;
        color: #000;
        max-width: 290px;
    }
.adress_header {
    margin: 3px 36px 2px 0px;
}
.address a {
        word-spacing: 0.5px;
        text-decoration: underline solid black 0.5px;
        text-underline-offset: 3px;
    }
.address p {
    text-decoration: none;
}

main {
    margin-bottom: 180px;
}
.up__section {
    background: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: 400;
    width: 1100px;
    min-height: 757px;
    margin: 1px 0px 179px 2px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}

.main_word {
    width: 1000px;
    line-height: 115px;
    margin: 0px 50px 100px 51px;
    padding-top: 155px;
    padding-bottom: 15px;
}

.left_word {
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 100px;
    margin: 10px 0px 0px 0px;
}

.center_word {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 100px;
    padding: 11px 0px 0px 0px;
}

.right_word {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 100px;
    margin: 6px 0px 0px 0px;
}
span {
    letter-spacing: 0;
}
.wrapper__mainword_span_together {
    letter-spacing: 30px;
    text-transform: uppercase;
}
.wrapper__mainword_span_alone {
    letter-spacing: 60px;
    text-transform: uppercase;
}
.wrapper__mainword_span_none {
    text-transform: uppercase;
    word-spacing: 0px;
}
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px 0px 79px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 20px;
}

.start__word-spacing {
    word-spacing: 17px;
}

.center__word-spacing {
    word-spacing: 18px;
}

.end__word-spacing {
    word-spacing: 17px;
    margin-left: 3px;
}

.up__section a {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    align-content: center;
    background: none;
    color: white;
    border: 1px solid #ffffff;
    width: 256px;
    min-height: 51px;
    padding: 0px 0px 0px 0px;
    word-spacing: 0px;
    text-decoration: none;
}

.lots h2 {
    font-weight: 700;
    font-size: 40px;
    margin-left: 67px;
    text-transform: uppercase;
}

.lots__ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 25px 0px 0px 1px;
}

.lots__li {
    width: 334px;
    min-height: 563px;
    display: flex;
    justify-content: space-between;
}

.card__link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 52px 40px 48px 42px;
    transition: transform 0.3s ease;
    color: white;
    text-decoration: none;
    z-index: 0;
}

.card_header {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline solid 1px;
    text-underline-offset: 4px;
    text-align: left;
    width: 254px;
    z-index: 1;
}

.card__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-decoration: none;
    color: white;
    z-index: 1;
}

.lots__link__more {
    display: block;
    margin: 29px 0px 40px 67px;
    text-underline-offset: 4px;
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

.card__thomas {
    background-image: url(../images/card-lot-01.jpg);
}

.card__james {
    background-image: url(../images/card-lot-02.jpg);
}

.card__kandinsky {
    background-image: url(../images/card-lot-03.jpg);
}

.about {
    margin: 183px 0px 181px 74px;
}

.about img {
    display: block;
    width: 149px;
    height: 114px;
    margin: 1px 0px 0px 46px;
}

.block_logo {
    align-content: center;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    background-color: black;
    margin: 0px 0px 0px -1px;
}

.about h2 {
  font-weight: 700;
  font-size: 40px;
  margin: -140px 0px 0px 311px;
  text-transform: uppercase;
}
.about__p {
    width: 693px;
    margin: 100px 0px 0px 292px;
}
.about p {
  margin: 0px 0px 24px 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  word-spacing: 1px;
}

.footer__adress {  
    margin: 0px 0px 0px 53px;
}

.address__number {
    word-spacing: 1px;
    text-decoration: underline solid black 0.5px;
    text-underline-offset: 4px;
}

.address__mail {
    letter-spacing: 0.2px;
    text-decoration: underline solid black 0.5px;
    text-underline-offset: 4px;
}
.footer__adress p {
    word-spacing: 0.2px;
    text-decoration: none;
}

.footer__menu {
    margin: -97px 0px 0px 6px;
}

.footer__menu li {
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    list-style: none;
}

.footer__menu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
}

footer a img {
    width: 48px;
    height: 48px;
    margin-right: 48px;
}

.network {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: -63px 0px 0px 812px;
}